.card{
    
background: rgba(255, 252, 252, 0.26);
border-bottom: 1px solid rgba(203, 195, 195, 0.85);
border-radius: 28px;
margin-top: 60px;
padding: 15px;
p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.165px;

color: #A0A0A0;
margin-bottom: 25px;
}
}