<ion-content class="ion-padding">
<div class="card">
  <p>Someone mention you it uiux group chat.</p>
  <p>Someone mention you it uiux group chat.</p>
  <p>Someone mention you it uiux group chat.</p>
  <p>Someone mention you it uiux group chat.</p>
  <p>Someone mention you it uiux group chat.</p>
  <p>Someone mention you it uiux group chat.</p>
  <p>Someone mention you it uiux group chat.</p>
  <p>Someone mention you it uiux group chat.</p>
  <p>Someone mention you it uiux group chat.</p>
  <p>Someone mention you it uiux group chat.</p>
</div>
</ion-content>
