<ion-content class="ion-padding">
  <div class="row">
  <div class="float-left" (click)="back()">
    <ion-icon name="arrow-back-outline"></ion-icon> Back
  </div>
  </div>
  <div class="row">
    <div class="col-xs-6"><h2>Guest55</h2></div>
    <div class="col-xs-6 text-right ime"><p> 05/03/2020</p> </div>
    <div class="col-xs-12">
      <p  class="m-0">Awesome job!</p>
    </div>
    <div class="col-xs-6">
      <h6>Rating</h6>
      <div class="rate">
        <ion-icon size="small" name="star-sharp"></ion-icon>
        <ion-icon size="small" name="star-sharp"></ion-icon>
        <ion-icon size="small" name="star-sharp"></ion-icon>

        <ion-icon size="small" name="star-sharp"></ion-icon>

        <ion-icon size="small" name="star-half-sharp"></ion-icon>



      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6"><h2>Guest11</h2></div>
    <div class="col-xs-6 text-right ime"><p> 05/03/2020</p> </div>
    <div class="col-xs-12">
      <p  class="m-0">Alex is a very great designer, having a lot of positive energy with him!</p>
    </div>
    <div class="col-xs-6">
      <h6>Rating</h6>
      <div class="rate">
        <ion-icon size="small" name="star-sharp"></ion-icon>
        <ion-icon size="small" name="star-sharp"></ion-icon>
        <ion-icon size="small" name="star-sharp"></ion-icon>

        <ion-icon size="small" name="star-sharp"></ion-icon>

        <ion-icon size="small" name="star-half-sharp"></ion-icon>



      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6"><h2>Guest53</h2></div>
    <div class="col-xs-6 text-right ime"><p> 05/03/2020</p> </div>
    <div class="col-xs-12">
      <p  class="m-0">Working with Alex is always a pleasure!
        He has limitless capabilities!</p>
    </div>
    <div class="col-xs-6">
      <h6>Rating</h6>
      <div class="rate">
        <ion-icon size="small" name="star-sharp"></ion-icon>
        <ion-icon size="small" name="star-sharp"></ion-icon>
        <ion-icon size="small" name="star-sharp"></ion-icon>

        <ion-icon size="small" name="star-sharp"></ion-icon>

        <ion-icon size="small" name="star-half-sharp"></ion-icon>



      </div>
    </div>
  </div>
</ion-content>