.contain {

    //width: 317px;
    // height: 596px;
    // margin: 0 auto;
    // background: rgba(255, 255, 255, 0.38);
    // border: 2px solid #FFFFFF;
    border-radius: 16px;
    margin-top: 140px;

    .text {
        font-family: 'poppins';
        font-size: 14px;
        color: #000;
    }
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    // flex-direction: column;
    p {
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.pimg {
    background: rgba(255, 255, 255, 0.36);
    border: 1px solid #ECECEC;
    border-radius: 37.5px;

    span {
        width: 3px;
        height: 3px;
        background-color: blue;
        border: 1px solid #fff;
        border-radius: 50%;
    }
}

.time {
    
    p {
        color: #848484;
    }

    .badge {
        width: 3px;
        height: 3px;
        background-color: #FAAD3C;
        border: 1px solid #fff;
        border-radius: 50%;
    }
}

h4 {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 16px;
}

li {
    list-style: none;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.165px;

    color: #BABDC1;
}

.pimg {
    width: 56px;
    height: 54.85px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: #ECECEC;
    padding-top: 15px;
    position: relative;

    .active {
        width: 9px;
        height: 9px;
        background-color: #2675EC;
        border-radius: 4px;
        position: absolute;
        bottom: 1;
        right: 3px;

    }
}

.name {
    margin: 2px;
    width: 140px;
}

.time {
    min-width: 60px;
    p {
        font-size: 13px;
        text-align: center;
        margin-bottom: 5px;
        padding-top: 1px;
    }

    .badge2 {
        padding: 3px;
        color: #fff;
        width: 20px;
        height: 20px;
        background-color: #3CF9C0;
        border-radius: 50%;
        text-align: center;
        font-size: 10px;
        margin-left: 10px;
        float: right;
        position: absolute;
          right: -22px;
          top: 8px;
    }
}

h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: -0.165px;

    color: #131313;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}