<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/Illustration.png" alt="assets">
      <h1>Find Peoples from 
        everywhere in the word</h1>
    </ion-slide>
    <ion-slide>
      <img src="assets/tcall.png" alt="assets">
      <h1>Chat with others 
        and develop your network</h1>
    </ion-slide>
    <ion-slide>
      <img src="assets/vault.png" class="lock" alt="assets">

      <h1>What happen here<br>
        stay here</h1>
        <button  [routerLink]="['/login']">Explore the Platform</button>
    </ion-slide>
  </ion-slides>
  
 
</ion-content>