
<ion-content>
  <div class="gallery-contanier">
    <img src="../../assets/Rectangle 38.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 39.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 41.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 42.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 43.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 45.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 38.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 39.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 41.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 42.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 43.png" (click)="showGallery(index)">
    <img src="../../assets/Rectangle 45.png" (click)="showGallery(index)">
  </div>
</ion-content>
