ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu ion-list {
  margin-top: 100px;
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #f7f7f7);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: -0.165px;

  color: #848484;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  margin-top: 100px;
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.btn-bread {
  position: absolute;
  top: 10px;
  left: 10px;
}

ion-header {
  display: inline;
  position: fixed !important;
}

.header-md::after {
  background-image: none;
}

.bell {
  margin-top: 11px;
  font-size: 26px;
  color: #fff;

}

ion-tab-bar {
  width: 90%;
  margin: 0 auto;
  position: relative;
  bottom: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 43px;
  box-shadow: 0px 2px 20px -7px rgba(0, 0, 0, 0.25);
  background-color: #fefefe;
}

ion-menu ion-content {
  background: rgb(255 255 255 / 82%) !important;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(2px) !important;
}

.ion-overlay-wrapper {
  background-color: #fff !important;
}

.selic label {
  font-size: 18px !important;
  color: #000 !important;
}
.alert-wrapper.sc-ion-alert-md{
  background-color: #848484!important;
  .alert-radio-inner{
    color: #fff;
  }
 }
 .newSelect{
  width: 100%;
  padding: 10px;
  border: none;
  margin: 10px 0px ;
  color: #000;
  outline :none;
  background-color: transparent;
  option{
    text-transform: capitalize;
  }
 }
 ion-select {
  --placeholder-color: #000000;
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}
.alert-wrapper {
  background: #f01e1e!important;
}
.theme-label{
  padding: 10px;
  color: rgb(215, 69, 54);
}
