<ion-app>
  <div class="bg" #bg></div>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/home']" lines="none" detail="false"
              routerLinkActive="selected">

              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/leaderboard']" lines="none" detail="false"
              routerLinkActive="selected">

              <ion-label>Leader Bord</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/Privacy']" lines="none" detail="false"
              routerLinkActive="selected">

              <ion-label>Privacy Policy</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/Conditions']" lines="none" detail="false"
              routerLinkActive="selected">

              <ion-label>Term And Conditions</ion-label>
            </ion-item>
            <ion-item routerDirection="root" (click)="logout()" lines="none" detail="false" routerLinkActive="selected">

              <ion-label>Signout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list" class="selic">
          <ion-label class="theme-label">Select Theme</ion-label>
          <ion-select class="newSelect" placeholder="Select colors" (ionChange)="handleChange($event);" [(ngModel)]="defaultTheme">
            <ion-select-option *ngFor="let c of colors" [value]="c.name">{{ c.diaplayName }}</ion-select-option>
          </ion-select>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    <ion-tabs>

      <ion-tab-bar slot="bottom" *ngIf="headerOff">
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/leaderboard']">
          <ion-icon name="bar-chart-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/chats']">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/user-list']">
          <ion-icon name="chatbox-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>

  </ion-split-pane>
</ion-app>