<ion-content class="p-2">
  <div class="p-2">
    <div class="row">
      <div class="float-left">
        <ion-icon name="arrow-back-outline"></ion-icon> Back
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Ui UX Chat</h1>
      </div>
      <div class="col-md-12 d-flex">
        <div class="p-img p-2">
          <img src="../../assets/Avatar.png" alt="Avatar">
        </div>
        <div class="name">
          <h3>Gauest User121</h3>
          <p>Verified User</p>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <h3>Description</h3>
      <p>I’m a young designer from Dublin. I practice for 4 years now, worked with small and big agencies. </p>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h3>64 reviews</h3>
        <div class="group">
          <p>Last review:</p>
          <h4>Awesome job!</h4>
          <i>- guest23</i>
        </div>
      </div>
      <div class="col-xs-6 ion-text-right bt">
        <h5>Average rating</h5>
        <div class="rate">
          <ion-icon size="small" name="star-sharp"></ion-icon>
          <ion-icon size="small" name="star-sharp"></ion-icon>
          <ion-icon size="small" name="star-sharp"></ion-icon>

          <ion-icon size="small" name="star-sharp"></ion-icon>

          <ion-icon size="small" name="star-half-sharp"></ion-icon>



        </div>
        <ion-button [routerLink]="['/all-rateing']">View All</ion-button>
      </div>

    </div>
    <div class="row">
      <h3>Portfolio</h3>
      <div class="row">
        <div class="col-xs-6 p-1">
          <img src="../../assets/portfolio/1.png" alt="">
        </div>
        <div class="col-xs-6 p-1">
          <img src="../../assets/portfolio/2.png" alt="">

        </div>
        <div class="col-xs-6 p-1">
          <img src="../../assets/portfolio/3.png" alt="">

        </div>
        <div class="col-xs-6 p-1">
          <img src="../../assets/portfolio/4.png" alt="">

        </div>
      </div>
    </div>
  </div>
</ion-content>




<!-- second screen -->