<ion-content>
  <div class="signup">
    <h3>Logo Here</h3>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
      <ion-input class="input" name="uname" type="text" placeholder="Unique Name" [(ngModel)]="uname" #uName="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && fName.invalid }" required></ion-input>
      <div *ngIf="f.submitted && uName.invalid" class="invalid-feedback">
        <div *ngIf="uName.errors.required">Unique name is required</div>
      </div>
      <ion-input class="input" name="name" type="text" placeholder="Name" [(ngModel)]="name" #fName="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && fName.invalid }" required></ion-input>
      <div *ngIf="f.submitted && fName.invalid" class="invalid-feedback">
        <div *ngIf="fName.errors.required">Name is required</div>
      </div>
      <ion-input class="input" type="email" placeholder="email" [(ngModel)]="email" #uEmail="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && uEmail.invalid }" required email name="email"></ion-input>
      <div *ngIf="f.submitted && uEmail.invalid" class="invalid-feedback">
        <div *ngIf="uEmail.errors.required">Email is required</div>
        <div *ngIf="uEmail.errors.email">Email must be a valid email address</div>
      </div>
      <ion-input class="input" type="password" placeholder="Password" [(ngModel)]="password" #uPassword="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && uPassword.invalid }" required minlength="6" name="password"></ion-input>
        <div *ngIf="f.submitted && uPassword.invalid" class="invalid-feedback">
          <div *ngIf="uPassword.errors.required">Password is required</div>
          <div *ngIf="uPassword.errors.minlength">Password must be at least 6 characters</div>
      </div>
      <!-- <ion-input class="input" type="cpassword" placeholder="Confirm Password"></ion-input> -->

      <ion-button type="submit" shape="round" expand="full" class="mt-4">SignUp</ion-button>
    </form>
    <p class="mt-2">Already have an account <b [routerLink]="['/login']">ClickHere!</b></p>
  </div>
</ion-content>