
<ion-content>
  <div class="signup">
  <h3>Logo Here</h3>
  <ion-input class="input" type="text" placeholder="User Name"></ion-input>
  <ion-input class="input" type="text" placeholder="Login"></ion-input>
  <ion-input class="input" type="password" placeholder="Password"></ion-input>
  <ion-input class="input" type="cpassword" placeholder="Confirm Password"></ion-input>

  <button  class="mt-4">SignUp</button>
  <p class="mt-2">Already have an account <b [routerLink]="['/login']">ClickHere!</b></p>
  </div>
  </ion-content>
  