.signup{

width: 317px;
height: 596px;
margin: 0 auto; 
background: rgba(255, 255, 255, 0.38);
border: 2px solid #FFFFFF;
border-radius: 16px;
margin-top: 140px;
padding: 0px 20px;
// text-align: center;
h3{
    text-align: center;
}
}
ion-input{
    margin-top: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
p{
    color: #120E21;text-align: justify;
font-size: 14px;}
ion-menu{
    color: #fefefe;
}