
<app-header></app-header>
<ion-content>
<div class="contain p-2">
  <div class="d-flex">
    <h3 class="text-medium">Select Chats</h3>
    <div class="search">
     <img src="assets/search.png" alt="">
    </div>
  </div>
    <ul *ngFor="let c of chatList;let i = index;">
      <!-- <li class="mb-3" [routerLink]="['/one-page/', c.id]">
        <div class="list">
          <div class="pimg">G <div class="active"></div></div>
          <div class="name">
            <h4>Guest {{i+1}}</h4>
          </div>
        </div>
      </li> -->
      <li class="mb-3" [routerLink]="['/one-page/', c.id,i+1]">
        <div class="list">
          <ion-row>
            <ion-col size="5">
              <div class="pimg">G <div class="active"></div></div>
            </ion-col>
            <ion-col size="7">
              <div class="name">
                <h4>Guest {{i+1}}</h4>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </li>
    </ul>
    <p *ngIf="chatList.length == 0" class="text-center">
      Record Not Found.
    </p>
  </div> 

</ion-content>
