/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../src/assets/default.png');

}

.bg1 {
    background-image: url('../src/assets/default.png');
    width: 100%;
    height: 100vh;
    position: absolute;
}

.bg2 {
    background-image: url('../src/assets/2.png');
    width: 100%;
    height: 100vh;
    position: absolute;
}

.bg3 {
    background-image: url('../src/assets/3.png');
    width: 100%;
    height: 100vh;
    position: absolute;
}

.bg4 {
    background-image: url('../src/assets/1.png');
    width: 100%;
    height: 100vh;
    position: absolute;
}

body {
    position: relative;
}

button {
    background: var(--ion-color-primary);;
    padding: 0px 79px;
    height: 45px;
    border-radius: 44px;
    color: #ffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0px 19px 65px -15px #2675ec;
    width: 100%;
}

button:hover {
    background: #1a63cf;
}

.custom-toast-message {
    --color: #ffffff;
    --border-radius: 30px;
    --background: none;
    --width: max-content;

}
.text-center {
    text-align: center;
}