.contain {

  width: 317px;
  // height: 596px;
  //margin: 0 auto;
  //background: rgba(255, 255, 255, 0.38);
  //border: 2px solid #FFFFFF;
  border-radius: 16px;
  margin-top: 60px;
  .text{
    font-family:'poppins';
    font-size: 14px;
    color: #000;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  list-style: none;
}
p{font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.165px;
  
  color: #BABDC1;}
ul{

  padding: 0;
}
h3{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

letter-spacing: -0.165px;

color: #131313;
margin-bottom: 20px;
padding-left: 10px;
}

.hidden {
  display: none;
}