
<app-header></app-header>
<ion-content>
<div class="contain p-2">
  <div class="d-flex">
    <h3 class="text-medium">Recent Chats</h3>
    <div class="search">
     <img src="../../assets/search.png" alt="">
    </div>
  </div>
    <ul *ngFor="let c of chatList;let i = index;">
      <app-last-message-thread [data]="c" [count]="i"></app-last-message-thread>
      <!-- <li class="mb-3" [routerLink]="['/one-page/', c.id]">
        <div class="list">
          <div class="pimg">G <div class="active"></div></div>
          <div class="name">
            <h4>Guest {{i+1}}</h4>
            <p>Why did you do that? </p>
          </div>
          <div class="time"><p>12:30</p>
          <div class="badge2" appReadMessage [data]="c" [currentUser]="userID" >0</div></div>
        </div>
      </li> -->
    </ul>
    <p *ngIf="chatList.length == 0" class="text-center">
      Record Not Found.
    </p>
  </div> 

</ion-content>
