<div class="appli-head" *ngIf="!showButtons">
  <ul class="app-hed">
    <li class="back">
      <ion-icon size="large" name="chevron-back-outline" (click)="back()"></ion-icon>
    </li>
    <li class="ne3" [routerLink]="['/chat-info']">
      <div class="list">
        <div class="pimg">
          WD
          <div class="active"></div>
        </div>
        <div class="name">
          <h4>Web Discussion</h4>
          <p>Last Activity 2:23PM</p>
        </div>
      </div>
    </li>
    <li class="menus">
      <ion-icon name="grid" id="click-trigger"></ion-icon>
    </li>
  </ul>
</div>

<div class="appli-head ioco" *ngIf="showButtons">
  <ul class="app-hed heade-to">
<li><ion-icon  size="large" name="trash-outline"></ion-icon></li>
<li><ion-icon  size="large" name="copy-outline"></ion-icon></li>
<li><ion-icon  size="large" name="heart-outline"></ion-icon></li>
<li><ion-icon  size="large" name="pin-outline"></ion-icon></li>
<li><ion-icon  size="large" name="heart-outline"></ion-icon></li>
<li><ion-icon (click)="onClose()" size="large" name="close-outline"></ion-icon></li>

  </ul>
</div>

<ion-popover trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ul class="pop">
      <li [routerLink]="['/chat-info']">Chat Info</li>
      <li expand="block" (click)="setOpen(true)">Rate the chat</li>
      <li id="context-menu-trigger">Leave Chat</li>
      <li [routerLink]="['/report']">Report Chat</li>
    </ul>
  </ng-template>
</ion-popover>

<ion-popover trigger="context-menu-trigger" triggerAction="context-menu">
  <ng-template>
    <p>Are you sure you want to leave chat!</p>
    <ion-button expand="block" fill="clear" shape="round">
      Click me
    </ion-button>
    <ion-button expand="block" fill="clear" shape="round">
      Click me
    </ion-button>
  </ng-template>
</ion-popover>

<ion-content>
  <div class="messages" #scrollMe>
    <!-- receiver chat  -->
    <span *ngFor="let message of messageThread">
      
    <div class="in" (click)="onClick()" *ngIf="message.receiver_id == currentUser">
      <h6 class="user">Guest  {{message.created_on | timeAgo}}</h6>

      <p>
        {{message.message}}
      </p>
      <div class="react" *ngIf="showButtons">
        <ul>
          <li  *ngFor="let smily of obj">
            <ngx-emoji   emoji="{{smily.name}}" (click)="getEmoji(smily.name)" size="24" [fallback]="emojiFallback"></ngx-emoji>
          </li>
          


          <!-- <li><ion-icon  size="small" name="trash-outline"></ion-icon></li>
          <li><ion-icon  size="small" name="trash-outline"></ion-icon></li> -->
        </ul>
      </div>
      <div *ngIf="setEmo" class="smallEmoji">
        <ngx-emoji   emoji="{{setItem}}" size="24" [fallback]="emojiFallback"></ngx-emoji>

      </div>
    </div>
    <!-- sender chat -->
    <div class="out" *ngIf="message.sender_id == currentUser">
      <p>
        {{message.message}}
      </p>
    </div>
    </span>
  </div>


</ion-content>



<div class="appi-footer">
  <div class="sendMessage">
    <input class="messageInput" (keyup.enter)="sendMessage()" [(ngModel)]="text" type="text" placeholder="Type your message..." />
    <div class="icons">
      
      <ion-icon size="large"  (click)="sendMessage()" [ngClass]="text ? '' : 'hidden' " name="send-sharp"></ion-icon>
      <ion-icon size="large" name="add-sharp"></ion-icon>
      <ion-icon size="large" name="happy-sharp"></ion-icon>
    </div>
  </div>
</div>


<!-- modal  -->

<ion-modal [isOpen]="isModalOpen" #modal trigger="open-modal" [initialBreakpoint]="0.25"
  [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <div class="modal-rating">

      <div class="rate">
        <ion-icon size="large" name="star-sharp"></ion-icon>
        <ion-icon size="large" name="star-sharp"></ion-icon>
        <ion-icon size="large" name="star-sharp"></ion-icon>

        <ion-icon size="large" name="star-sharp"></ion-icon>

        <ion-icon size="large" name="star-sharp"></ion-icon>



      </div>

      <ion-textarea placeholder="comments"></ion-textarea>
      <button class="mt-4">Submit</button>

    </div>
  </ng-template>
</ion-modal>

