<div class="appli-head">
  <ul class="app-hed">
    <li class="back">
      <ion-icon size="large" name="chevron-back-outline"></ion-icon>
    </li>
    <li class="ne3">
      <div class="list">
        <div class="pimg">
          WD
          <div class="active"></div>
        </div>
        <div class="name">
          <h4>Web Discussion</h4>
          <p>Last Activity 2:23PM</p>
        </div>
      </div>
    </li>
    <li class="menus">
      <ion-icon name="grid"></ion-icon>
    </li>
  </ul>
</div>

<ion-content>
  <div class="messages">
    <div class="in">
      <h6 class="user">New User 20:22 PM</h6>

      <p>
        Hi, son, how are you doing? Today, my father and I went to buy a car
      </p>
    </div>
    <div class="out">
      <p>
        Oh! Cool Send me photo):
      </p>
    </div>
    <div class="in">
      <h6 class="user">New User 20:22 PM</h6>

      <p>
        Ok😉
      </p>
    </div>
  </div>

</ion-content>
<div class="appi-footer">
  <div class="sendMessage">
    <input type="text" placeholder="Type your message..." />
     <div class="icons">
      <ion-icon size="large" name="add-sharp"></ion-icon>
      <ion-icon size="large" name="happy-sharp"></ion-icon>
      <ion-icon  hidden name="send-sharp"></ion-icon>
    </div>
  </div>
</div>
